@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,700;1,300;1,400&family=Montserrat:wght@300;400;500&family=Oswald:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #e3e4e6 !important;
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100px;
  background: radial-gradient(
    at top left,
    rgba(184, 110, 81, 1) 0%,
    rgba(94, 53, 37, 1) 100%
  );
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin: 0;
}
@media only screen and (min-width: 430px) {
  nav {
    height: 65px;
  }

  .navbar-nav {
    flex-direction: row;
  }
}
nav ul li {
  margin: 0 0.85rem !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  height: 100%;
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #e3e4e6 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 800 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b57660 !important;
}

.img {
  position: absolute;
  top: -20px;
}
