.header {
  background: linear-gradient(rgba(184, 110, 81, 0.2), rgba(94, 53, 37, 0.3)),
    url("https://res.cloudinary.com/dytnpjxrd/image/upload/v1640908967/pexels-burst-374147_gwpgbd.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  padding-top: 50px;
}

.header .coffee {
  color: rgb(94, 53, 37) !important;
  text-transform: uppercase !important;
  letter-spacing: 5px;
  font-weight: 800;
}

.header .btnPrimary {
  background-color: rgb(94, 53, 37) !important;
  padding: 10px 15px;
  border-radius: 6px;
  border-color: transparent;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}

.btnPrimary:hover {
  background: #b57660 !important;
}
