.container {
  min-height: 100vh;
  background: rgba(184, 110, 81, 1);
}

.container h1 {
  text-align: center;
  font-weight: 900;
  color: #e3e4e6 !important;
  padding-top: 20px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 40px 60px;
}

.container h3,
.projects h3 {
  text-align: center;
  font-weight: 500;
  color: #e3e4e6 !important;
  margin-top: 10px;
}
.projects p {
  text-align: center;
  color: #e3e4e6 !important;
}
