.container {
  /* min-height: 100vh; */
  background: rgba(184, 110, 81, 1);
}

.container h1 {
  text-align: center;
  font-weight: 900;
  color: #e3e4e6 !important;
  padding-top: 20px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}

.projects h3 {
  text-align: center;
  font-weight: 500;
  color: #e3e4e6 !important;
}
.projects p {
  text-align: center;
  color: #e3e4e6 !important;
}
